

.buttonStyle{
    top: 264px;
left: 1288px;
width: 179px;
height: 42px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 21px;
opacity: 0.49;
}

.headerCLass{
    top: 205px;
left: 392px;
width: 1137px;
height: 670px;
background: #074770 0% 0% no-repeat padding-box;
border-radius: 36px;
opacity: 1;
}